<!DOCTYPE html>
<html ng-app="swankyChat" ng-cloak="true">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="/src/main/resources/static/html/css/chatroom.css">
    <link rel="icon" type="image/x-icon" href="/html/favicon.ico">
</head>
<body>
<div class="container">
    <div class="inbox">
        <aside>
            <ul ng-controller="chatCtrl as chat">
                <div ng-repeat="chat in chats">
                    <li ng-click="uid(chat.id)">
                        <img class="avatar" src="{{chat.avatar}}">
                        <p class="username">{{chat.username}}</p>
                    </li>
                </div>
            </ul>
        </aside>
        <main ng-controller="chatCtrl as chat">
            <div class="init">
                <i class="fa fa-inbox"></i>
                <h4>Choose a conversation from the left</h4>
            </div>
            <div class="loader">
                <p></p>
                <h4>Loading</h4>
            </div>
            <div class="message-wrap" ng-repeat="message in chats" ng-show="value == message.id">
                <div class="message" ng-repeat="i in message.messages track by $index">
                    <p>{{i}}</p>
                    <img ng-src="{{message.avatar}}">
                </div>
            </div>
            <footer>
                <form ng-submit="add()">
                    <input type="text" placeholder="Enter a message" ng-model="text">
                    <input type="submit" value="Send">
                </form>
            </footer>
        </main>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="/src/main/resources/static/html/js/chatroom.js"></script>
</html>
